.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;

    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collection-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name-and-author {
            width: 90%;
        }

        .name {
            margin-bottom: 15px;
            text-transform: capitalize;
            font-weight: 600;
        }

        .author {
            //links
        }

        .price {
            width: 10%;
        }
    }
}
